{% extends 'home.html' %} {% block title %} Pet Details {% endblock %} {% block
content %}
<h1 class="text-center display-1">
  {{pet.name}} {% if pet.available %} (Available!) {% else %} (Adopted!) {%
  endif %}
</h1>
{% for msg in get_flashed_messages() %}
<p class="flash-msg text-center">{{msg}}</p>
{% endfor %}
<div class="pet-details-container">
  <div class="pet-details-img">
    <img src="{{pet.photo_url}}" alt="pet picture" />
  </div>
  <div class="pet-details">
    {% if pet.age %}
    <p><span class="pet-data">Age:</span> {{pet.age}} years old</p>
    {% endif %}
    <p><span class="pet-data">Species:</span> {{pet.species}}</p>
    {% if pet.notes %}
    <p><span class="pet-data">Description:</span> {{pet.notes}}</p>
    {% endif %}
  </div>
</div>
<h2 class="text-center mt-3">Edit {{pet.name}}'s Details</h2>
<div class="container">
  <form action="/{{pet.id}}" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{form.photo_url.label}} {{form.photo_url(class="form-control
      form-control-lg")}}
    </div>
    <div class="form-group">
      {{form.notes.label}} {{form.notes(class="form-control form-control-lg")}}
    </div>
    <div class="form-group">
      {{form.available.label}} {{form.available(class="form-control
      form-check-input available-checkbox")}}
    </div>

    <button class="btn btn-outline-primary btn-lg w-100 mt-3">Update</button>
  </form>
</div>

{% endblock %}
